body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0;
    padding-top: 0;
}

header {
    display: flex;
    align-items: center;
    height: 69px;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid seashell;
    z-index: 1;
    background-color: black;
    top: 0;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
  
}

.logo img {
    height: 50px;
}



header nav {
    display: flex;
    
}

nav ul {
    display: inline-flex;
    justify-content: flex-end;
    
}

nav ul li {
    justify-content: space-between;
    margin-right: 20px;
    display: inline-block;
    padding: 20px 10px;
    
}

a {
    color: seashell;
}

.content {
    margin-top: 69px;
    padding: 20px;
}

.main-container {
    display: flex;
    background-image: url(/resources/img/img-mission-background.jpg);
    background-size: contain;
    height: 700px;
    width: 1200px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.mission {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: black;
    align-content: center;
    height: 140px;
    width: 100%;
    padding: 10px;

}

h2 {
    margin: 10px;
    padding: 5px; 
}

.teaMonth {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
}

.items img {
    height: 200px;
    width: 300px;
    margin: 10px;
}


.locations {
    display: flex;
    background-image: url(/resources/img/img-locations-background.jpg);
    background-size:auto;
    height: 500px;
    width: 1200px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    
}

.locations h2 {
    flex-basis: 1200px;
    margin-top:
    margin-bottom: 0;
    padding: 5px;
}

.locationInfo {
    background-color: black;
    height: 300px;
    width: 300px;
    opacity: 1;
    margin:  0 40px;
    
    
}

.contactInfo {
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 1200px;   
}

footer {
    display: flex;
    align-items: flex-start;
}
